.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	button {
		height: 40px;
		background-color: #2e2d2d;
		color: white;
	}
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 100%;
		li {
			margin-bottom: 8px;
			min-width: 33%;
			text-align: center;
			a {
				display: inline-block;
				transition: all .2s ease-in-out;
				text-decoration: none;
				color: #247ba0;
				&:hover {
			        transform: scale(1.3);
				}
			}
		}
	}
}