<div class="wrapper">
  <h1>Sectors</h1>
  <button mat-button (click)="openDialog()">Add Sector</button>  
</div>
<b *ngIf="sectors.length < 1; else sectorsList" style="display: flex; justify-content: center;">There are no sectors</b>
<ng-template #sectorsList>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let sector of sectors" [hideToggle]="true">
      <mat-expansion-panel-header>
        <mat-panel-title style="display: flex; justify-content: space-between; align-items: center;">
          <span>{{sector.name}}</span>
          <div>
            <button mat-icon-button><mat-icon>add</mat-icon></button>
            <button mat-icon-button><mat-icon>settings</mat-icon></button>
            <button mat-icon-button (click)="deleteSector(sector.id)"><mat-icon>delete</mat-icon></button>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-divider></mat-divider>
      <div class="wrapper">
        <p *ngIf="sector.categories.length < 1; else categoriesList">There are no categories</p>
          <ng-template #categoriesList>
            <ul>
              <li *ngFor="let category of sector.categories">
                <a href="">
                  {{ getCategoryFromSector(category).name }}
                </a>
              </li>
            </ul>
          </ng-template>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</ng-template>